body{margin: 20px 22px 0px 22px;}
button{margin-top: 10px;}
#secondBlock{display: none;}
#navigation{font-size: 16px; margin: 0 0 14px 0;}
#navigation span{margin: 0 8px 0 0; display: inline-block; background-color: #e6e6e6; padding: 4px; cursor: not-allowed;}
form{margin-bottom: 8px;}
#regLog{float: right;}
#signIn, #signUp, #logout{text-decoration: underline; cursor: pointer; color:blue;}
#logoutDiv{float: right;}
#choiceBlock{margin-bottom: 8px;}
#choiceBlock span{margin-right: 14px;}
#choiceBlock input{margin-right: 4px;}
#questionBlock{font-weight: bold; margin-bottom: 8px;}
/* styles for the result in the end */
#resultPId{margin-bottom: 34px; font-weight: bold;}
.questions{}
.choices{margin-bottom: 26px;}
.choices span{margin: 0 14px 0 4px;}
/* modal windows for sign in and sign up forms */
.modal_bg{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#register, #logIn{  /* Modal Content */
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}